<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>《ブログ名》 カテゴリ一覧</title>
  <link href="《テンプレート》/base-blog.css" rel="stylesheet">
  <link rel="icon" href="《テンプレート》/favicon.png" type="image/png">

  <script src="《jQuery》"></script>
</head>
<body>


<header class="main-header">
<h1 class="main-title"><a href="《URL》">《ブログ名》</a></h1>
《メインメニュー》
</header>

<article class="main-contents">
<ul class="tagcloud">
《カテゴリ一覧》
</ul>
</article>


<script src="《テンプレート》/blog.js" charset="utf-8"></script>

</body>
</html>