<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>《記事タイトル》</title>
  <link href="《テンプレート》/base-blog.css" rel="stylesheet">
  <link href="《テンプレート》/blog.css" rel="stylesheet">
  <link rel="icon" href="《テンプレート》/favicon.png" type="image/png">

  <script src="《jQuery》"></script>
  <style>《埋め込みCSS》</style>
</head>
<body>


<header class="main-header">
<h1 class="main-title"><a href="《URL》">《ブログ名》</a></h1>
</header>


<article class="main-contents">

<header class="article-header">
<h1 class="article-title"><a href="《記事URL》">《記事タイトル》</a></h1>
</header>

<article id="comments《記事ID》" class="comments" data-entry_id="《記事ID》">
《コメント》
</article>

《コメントフォーム》
</article>


<script src="《テンプレート》/blog.js" charset="utf-8"></script>
<script>
$(function(){
    var コメント番号 = $(".comment-no").text();
    if(!コメント番号){ return false; }
    $("textarea[name='comment_body']").val(">>" + コメント番号 + "\n");

});
</script>
<script>《埋め込みJavaScript》</script>
</body>
</html>