@charset "utf-8";
/*************************************************
コメントの基本スタイル
*************************************************/

.comments {
    margin: 50px 0;
}
.comment {
    width: 70%;
    margin-bottom: 30px;
}
.comment-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #f7f7f7;
    border: solid 1px #d0d0d0;
    border-bottom: #e5e5e5 1px solid;
    width: 100%;
    margin-bottom: 0;
    padding: 5px 18px;
    font-size: 16px;
}
.comment-body {
    width: 100%;
    margin-top: 0;
    padding: 18px;
    font-size: 16px;
    border-left: solid 1px #d0d0d0;
    border-right: solid 1px #d0d0d0;
    border-bottom: solid 1px #d0d0d0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.comment-no,
.comment-no a,
.comment-no visited,
.comment-no hover{
    font-size: 16px;
    color: #777;
    font-family: Arial, Meiryo, sans-serif;
}
.comment-name{
    margin-left: 14px;
    margin-right: 14px;
}
.comment-date{
    font-size: 14px;
    color: #777;
    font-family: Arial, Meiryo, sans-serif;
}


/*** コメントフォーム ***/
.comment-form{
    margin-top: 50px;
}
.comment-form-line{
    width: 66%;
}
.comment-form textarea{
    width: 100%;
    height: 180px;
}
.comment-form input[type="text"]{
    width: 200px;
}
.comment-form input[type="submit"]{
}
.comment-form-dummy{
    display: none;
}



/*** 削除関連 ***/
.comment-delete{
}
.comment-delete-selected {
    background-color: #ffeeee;
}



/*** レスポップアップ ***/
.comment-anker {
    position:relative;
    font-family: 'Courier New', Courier, Monaco, monospace;
}
.comment-popup {
    display: inline-block;
	font-size: 16px;
	font-family: Meiryo, sans-serif;
	letter-spacing: 1px;
	line-height: 1.4;
	white-space: pre;
    color: #fff;
	background-color: #000;
    opacity: 0.8;
    position: absolute;
    bottom: 32px;
    left: 8px;
    z-index: 100;
    padding: 10px;
    border-radius: 6px;
    max-width: 680px;
    /*max-width: 940px;*/
}

.comment-popup:after {
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    left: 8px;
    bottom: -7px;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #000;
}

.comment-popup-name {
    margin-left: 10px;
    margin-right: 10px;
}
.comment-popup-header {
    width: 100%;
}
.comment-popup-body {
    width: 100%;
    margin: 0;
    /*border-top: solid 1px #fff;*/
}
.comment-popup a{
    color: #fff;
}
