<!DOCTYPE html>
<html lang="ja" id="entry">
<head>
  <meta charset="utf-8">
  <title>《記事タイトル》</title>
  <link href="《テンプレート》/base-blog.css" rel="stylesheet">
  <link href="《テンプレート》/blog.css" rel="stylesheet">
  <link rel="icon" href="《テンプレート》/favicon.png" type="image/png">
  <link rel="alternate" type="application/atom+xml" href="《URL》?action=feed">
  <link rel="canonical" href="《記事URL》">

  <meta property="og:url" content="《記事URL》">
  <meta property="og:site_name" content="《ブログ名》">
  <meta property="og:title" content="《記事タイトル》">
  <meta property="og:type" content="website">
  <meta property="og:image" content="《記事アイキャッチ画像》">
  <meta property="og:locale" content="ja_JP">

  <script src="《jQuery》"></script>
  <style>《埋め込みCSS》</style>
</head>
<body>


<header class="main-header">
<h1 class="main-title"><a href="《URL》">《ブログ名》</a></h1>
《メインメニュー》
</header>

<article class="main-contents">
《管理用:記事状態の表示》
《記事》

<aside>
《ソーシャルボタン》
</aside>

<nav class="prevnext-headline" style="margin: 60px auto;">
《前の記事》
《次の記事》
</nav>


<aside>
<article id="comments《記事ID》" class="comments" data-entry_id="《記事ID》">
《コメント》
</article>

《コメントフォーム》
</aside>
</article>


<script src="《テンプレート》/blog.js" charset="utf-8"></script>
<script>$(function(){

!function 最近見た記事を記録する(){
    var url    = $("link[rel='canonical']").attr("href");
    var title  = $("meta[property='og:title']").attr("content");
    var latest = [];
    var recent = [];

    if(!url || !title || !localStorage){
        return;
    }

    if(localStorage.browsing_history){ //データ構造 [{url, title}]
        recent = JSON.parse(localStorage.browsing_history);
    }

    for(var i = 0; i < recent.length; i++){
        if(recent[i].url == url){
            continue;
        }
        latest.push(recent[i]);
    }

    latest.unshift({url: url, title: title});
    latest.splice(10);
    localStorage.browsing_history = JSON.stringify(latest);
}();


});</script>

<script>《埋め込みJavaScript》</script>

</body>
</html>