<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>《ブログ名》 《&サブタイトル》</title>
  <link href="《テンプレート》/base-blog.css" rel="stylesheet">
  <link rel="icon" href="《テンプレート》/favicon.png" type="image/png">
  <link rel="alternate" type="application/atom+xml" href="《URL》?action=feed">

  <meta property="og:url" content="《URL》">
  <meta property="og:site_name" content="《ブログ名》">
  <meta property="og:type" content="website">
  <meta property="og:image" content="《ベースURL》《テンプレート》/《サイトアイキャッチ画像》">
  <meta property="og:locale" content="ja_JP">

  <script src="《jQuery》"></script>
  <style>《埋め込みCSS》</style>
</head>
<body>


<header class="main-header">
<h1 class="main-title"><a href="《URL》">《ブログ名》</a></h1>
《メインメニュー》
</header>

<article class="main-contents">

《ライトインデックス》


《ページめくり》
</article>


<script src="《テンプレート》/blog.js" charset="utf-8"></script>
<script>《埋め込みJavaScript》</script>

</body>
</html>