<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow,noarchive">
  <title>《ブログ名》 ログイン</title>
  <link href="《テンプレート》/base-admin.css" rel="stylesheet">
  <link href="《テンプレート》/blog.css" rel="stylesheet">
  <link rel="icon" href="《テンプレート》/favicon.png" type="image/png">

  <style>
    #login{ text-align: center;    margin-top: 180px; }
    #login input[name="password"]{ width: 220px; }
  </style>
  <script src="《jQuery》"></script>
</head>
<body>


<header class="main-header">
<h1 class="main-title">《ブログ名》</h1>
</header>

<article class="main-contents">
<form id="login" action="《URL》?action=login" method="POST" class="form-oneline">
<input type="password" name="password" value=""><input type="submit" name="submit" value="ログイン">
<input type="hidden" name="query" value="《&query》">
</form>
</article>


<script>
$(function(){
    var password = $("#login input[name='password']");
    password.focus();

    $('#login').submit(function() {
        if(password.val() == ''){
            alert('パスワードを入力してください');
            password.focus();
            return false;
        }
    });
});
</script>

</body>
</html>