<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>《ブログ名》 アップリスト</title>
  <link href="《テンプレート》/upload.css" rel="stylesheet">
  <link rel="icon" href="《テンプレート》/favicon.png" type="image/png">

  <script src="《jQuery》"></script>
</head>
<body>

<header><a href="《URL》?action=uplist">アップリスト</a> / <a href="《URL》?action=uplist&y=《y》">《y》年</a><a href="《URL》?action=upfilelist&y=《y》&m=《m》&d=《d》">《m》月《d》日</a></header>


<article class="main-contents">
<table id="upfilelist">
<caption>《y》年《m》月《d》日 (《曜日》)</caption>
<tr><th>投稿日</th><th>ファイル</th><th>サイズ</th><th>削除</th></tr>
《アップファイル表》
</table>
</article>

<script>
$(function() {
    //削除確認
    $('.filedelete').click(function() {
        $(this).parents("tr").addClass("delete-selected");
        var flag = window.confirm("このファイルを削除しますか？");
        $(this).parents("tr").removeClass("delete-selected");
        return flag;
    });
});
</script>

</body>
</html>